@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');

.container {
  margin: 40px auto;
  width: 800px;
}

.card-white {
  background-image: linear-gradient(#0a0a0a, #2F2E3E);
  text-align: center;
  border: 5px double #F27900;
  border-radius: 5px;
  margin: 15px;
  padding: 0;
  box-shadow: 1px 1px 1px;
}
body {
  background-image: linear-gradient(#0a0a0a, #2F2E3E);
  font-family: 'Inconsolata', monospace;
  color: #DDDA00;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #DD1D00;
  font-size: 22px;
  line-height: 1.5;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: #E6E8BF;
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  transition: ease 0.3s;
}

a:hover {
  color: #E6E8BF;
  opacity: 1;
  transition: ease 0.3s;
}

.img-circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px double #F27900;;
  box-shadow: 2px 2px 8px #DD1D00;;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 60px;
}
 .card-white > a {
  display: inline-block;
 }

#btn-blue {
background-color: #2F2E3E;
color: #E6E8BF;
border: 5px double #F27900;
padding: 20px;
border-radius: 5px;
margin: 10px;
transition: transform 250ms, opacity 400ms;
}

#btn-blue:hover {

  transform: scale(1.2);
  opacity: 0.8;
}

/* a, a:visited, a:hover, a:active {
  color: inherit;
} */

.link-red {
  color: #DD1D00;
  opacity: 0.8
}

.link-orange {
  color: #F27900;
  opacity: 0.8;
}

.link-yellow {
  color: #DDDA00;
  opacity: 0.8;
}

.link-yellow a:visited {
  color: inherit;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
